<!DOCTYPE html>
<html>
<head>
  <title>{$Think.lang.title_Index}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.__PUBLIC__/qiantai/js/1.3.0/respond.min.js"></script>
  <![endif]-->
 <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.__PUBLIC__/qiantai/js/1.3.0/respond.min.js"></script>
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/flexslider.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/animate.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/style.css?a=1">
  <!-- new css by wys -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/new.css">
  <style type="text/css">
    .cs{
            width:100%;
            height:200px;
            background:rgba(238,238,238,0.8);
            top:0px;
            position:absolute;
            opacity: 0;
            display: block;
            font-size: 12px;
            transition: 0.5s;
            -webkit-transition: .8s;
            -moz-transition: .8s;
            padding-top: 25%;
        }
        .cent:hover .cs{
            opacity: 1;
        }
        .cent:hover .team-info{
          opacity: 0;
        }
      .cs .cs-title{
        text-align: center;
        margin: 0 auto;
        color: black;
        font-size:22px;
        font-weight: bold;
      }
      .cs .cs-main{
        color:black;
        font-size:18px;
        font-weight: bold;
        text-align: center;
      }
      .rf-cs{
         width:100%;
            height:200px;
            background:rgba(238,238,238,0.8);
            top:0px;
            position:absolute;
            opacity: 0;
            display: block;
            font-size: 12px;
            transition: 0.5s;
            -webkit-transition: .8s;
            -moz-transition: .8s;
            padding-top: 25%;
      }
      .rf-cent:hover .rf-cs{
            opacity: 1;
        }
      .rf-cent:hover .team-info{
          opacity: 0;
      }
      .rf-cs .rf-cs-title{
        text-align: center;
        margin: 0 auto;
        color: black;
        font-size:22px;
        font-weight: bold;
      }
      .rf-cs .rf-cs-main{
        color:black;
        font-size:18px;
        font-weight: bold;
        text-align: center;
      }
  </style>
</head>
<body>
  <!-- Header -->
    <!-- 包含头部文件header -->


 <include file="Public/header"/>

  <!-- End Header -->

  <!-- Preloader -->
  <div id="mask">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <!-- End Preloader -->
<div class="scrollable" id="scrollable">
  <!-- Backgrounds -->
  <div id="backgrounds">
      <ul class="slides">

	  <volist name="img" id="val"><li><img src="__ROOT__{$val['flashviewpc']}" alt=""></li>
	         <if condition="$val['fwshowpc'] neq 2 and $val['flashviewpc'] neq ''">
                <li><img src="__ROOT__{$val['flashviewpc']}" alt=""></li>
		    </if>
	  </volist>

    </ul>
  </div>
  <!-- End Backgrounds -->

<div id="home">

  <div class="slide-caption">

			  <div class="slide-middle">
				<div class="slide-intro">
				  <h3></h3>

				</div>
				<div id="home-slider" class="flexslider">
				  <ul class="slides">
				    <volist name="img" id="val">
					   <if condition="$val['fwshowpc'] neq 2 and $val['flashviewpc'] neq ''">
					   <li><h1><a style="text-decoration:none; color:#fff;;" href="{$val['fwlink']}">{$val['title']}</a></h1></li>
					   </if>
					</volist>
				  </ul>
				</div>
				<div class="home-text">


				</div>
			  </div>

    </div>

</div>
<!-- FEIG产品 -->
 <if condition="$indexshowlist.fghzshow eq 1 ">
      <section id="team" class="team-index">
			<div class="container">
			  <div class="section-title">
				<!-- <h2>{$Think.lang.index_FEIG}</h2> -->
        <img src="__PUBLIC__/qiantai/images/FEIG_Logo.png">
				<p>{$indexshowlist.fghzname}</p>
			  </div>
			  <volist name="felghzs" id="val">
					  <a href="{:U('Feig/Index')}?id={$val['id']}">
						<div class="col-md-3 col-sm-6">
						  <div class="team animated cent" data-animation="fadeInUp" data-animation-delay="0" id="cent">
  							<div class="team-photo">
  							  <img src="__ROOT__{$val['fghzimg']}" alt="">
  							</div>
  							<div class="team-info">
  							  <h4>{$val['fghz']}</h4>
  							  <p>{$val['fghztitle']}</p>
  							</div>
                <div class="cs">
                  <p class="cs-title">{$val['fghz']}</p>
                  <p class="cs-main">{$val['fghztitle']}</p>
                </div>
							</div>
						</div>
					  </a>
			  </volist>

			</div>
	  </section>
    <else />


</if>

<!-- RFLINKER产品 -->
 <if condition="$indexshowlist.rrhzshow eq 1 ">
<section id="team" class="team-index">
    <div class="container">
      <div class="section-title">
        <img src="__PUBLIC__/qiantai/images/RFlinker_Logo.png">
        <p>{$indexshowlist.rrhzname}</p>
      </div>
	  <volist name="rrzs" id="val">
		  <a href="{:U('Rflinker/Index')}?id={$val['id']}">
			  <div class="col-md-3 col-sm-6">
				<div class="team animated rf-cent" data-animation="fadeInUp" data-animation-delay="0">
				  <div class="team-photo">
					<img src="__ROOT__{$val['rrimg']}" alt="">
				  </div>
				  <div class="team-info">
					 <h4>{$val['rflinkerhz']}</h4>
					 <p>{$val['rrtitle']}</p>
				  </div>
          <div class="rf-cs">
              <p class="rf-cs-title">{$val['rflinkerhz']}</p>
              <p class="rf-cs-main">{$val['rrtitle']}</p>
          </div>
				</div>
			  </div>
		  </a>
      </volist>


    </div>
</section>
    <else />
</if>
<!--推荐产品 -->
 <if condition="$indexshowlist.tjhzshow eq 1 ">
 <section id="team" class="team-index">
    <div class="container">
      <div class="section-title">
        <h2>{$Think.lang.index_Recommend}</h2>
        <p>{$indexshowlist.tjhzname}</p>
      </div>
	  <volist name="tuijians" id="val">
	      <if condition="$val['type'] eq 1">
				  <a href="{:U('Productdetails/Index')}?type=1&&id={$val['id']}">
					  <div class="col-md-3 col-sm-6">
						<div class="team animated" data-animation="fadeInUp" data-animation-delay="0">
						  <div class="team-photo">
							<img src="__ROOT__{$val['ftimg']}" alt="">
						  </div>
						  <div class="team-info">
							<h4>{$val['ftname']}</h4>
							<p>{$val['fttitle']}</p>
						  </div>
						</div>
					  </div>
				  </a>
		 </if>
      </volist>
    </div>
  </section>
     <else />
</if>
<!--行业应用 -->
  <section id="portfolio" class="grey">
    <div class="section-title">
      <h2>{$Think.lang.index_Industry}</h2>
    </div>
    <div class="section-title">
        <p>{$Think.lang.index_Industrytitle}</p>
    </div>
    <ul id="works-list" class="nav">

	  <volist name="iyimg" id="vo">
	          <a href="{:U('Vocationlistmain/index')}?id={$vo['id']}">
					  <li class="mix graphic mix_all">
						<img src="__ROOT__{$vo['imgiy']}" alt="">
					  </li>
			  </a>
	  </volist>
    </ul>
  </section>
<!--联系我们-->
  <section id="contact" class="parallax-section">
    <div class="parallax-overlay">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-title">
            <h2>{$Think.lang.index_FormTitle}</h2>
          </div>
          <p style="font-size: 1.5rem;text-align: center; color: white">{$Think.lang.telname}:13918999394</p>
          <form class="contact-form" method="post" action="contact.php" id="contactus">
            <div class="form-select-f">
              <select id="lxwenti" class="form-select" name="SelectType">
                <option selected="selected"  class="opbgcolor" value="1">{$Think.lang.index_FormProblemyi}</option>
                <option class="opbgcolor" value="2">{$Think.lang.index_FormProblemer}</option>
              </select>
            </div>
            <div class="form-double">
              <div class="form-group">
                <input  name="UserName" type="text" class="form-control" placeholder="{$Think.lang.index_FormName}"><span></span>
              </div>
              <div class="form-group last">
                <input  name="UserMail" type="text" class="form-control" placeholder="{$Think.lang.index_FormEmail}" id="mymail" ><span></span>
              </div>
              <div class="form-group last">
                <input name="UserTel" type="text" class="form-control" placeholder="{$Think.lang.index_FormTel}" id="mytel"><span></span>
              </div>
            </div>
            <div class="form-group">
              <textarea  name="TextSay" class="form-control" placeholder="{$Think.lang.index_FormContent}"></textarea><span></span>
            </div>
            <div class="form-submit">
              <input  type="submit" class="btn btn-empty btn-lg" id="#tijiao" value="{$Think.lang.index_FormSubmit}">
            </div>
          </form>
          <div class="form-sent">
            <div class="alert alert-success">
              <h6>Your Message Has Been Sent! Thank you for contacting us.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--尾部 -->
  <!-- 包含底部模板footer -->
  <include file="Public/footer"/>
</div>

<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/flexslider.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.appear.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/mixitup.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.validation.js"></script>
<script type="text/javascript" >
jQuery.extend(jQuery.validator.messages, {
    required: "必填信息",
    remote: "用户名已存在",
    email: "{$Think.lang.index_FormEmailtrue}",
    url: "请输入合法的网址",
    date: "请输入合法的日期",
    dateISO: "请输入合法的日期 (ISO).",
    number: "请输入合法的数字",
    digits: "只能输入整数",
    creditcard: "请输入合法的信用卡号",
    equalTo: "请再次输入相同的值",
    accept: "请输入拥有合法后缀名的内容",
    maxlength: jQuery.validator.format("请输入一个长度最多是 {0} 的内容"),
    minlength: jQuery.validator.format("请输入一个长度最少是 {0} 的内容"),
    rangelength: jQuery.validator.format("请输入一个长度介于 {0} 和 {1} 之间的内容"),
    range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
    max: jQuery.validator.format("请输入一个最大为 {0} 的值"),
    min: jQuery.validator.format("请输入一个最小为 {0} 的值")
});
</script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.parallax-1.1.3.js"></script>

<!-- Main JS File -->
<script type="text/javascript" src="__PUBLIC__/qiantai/js/main.js"></script>
<!--下拉搜索JS-->
<script src="__PUBLIC__/qiantai/js/aircity.js"></script>
<!--下方滚动js-->
<script src="__PUBLIC__/qiantai/js/scrollfix.js"></script>
<!--layer-mobile.js-->
<script src="__PUBLIC__/qiantai/layer/mobile/layer.js"></script>
<script>
$("#facebook").click(function(){
  var mycontent='<img src="__PUBLIC__/qiantai/images/erweima.jpg">';
  layer.open({
    style: 'border:none;width:auto;height:auto;padding:0px 0px;',
    content:mycontent
  });
  $(".layui-m-layercont").css({ padding: "0px 0px" });
});
</script>



<!-- 联系我们 -->
<script>

  // 手机号码验证
  jQuery.validator.addMethod("isMobile", function(value, element) {
      var length = value.length;
      var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
      return this.optional(element) || (length == 11 && mobile.test(value));
  }, "{$Think.lang.index_Formtelture}");


    $("#contactus").validate({
       rules: {
                    UserName: { required: true, },
                    UserTel: {  number:true,isMobile:true,min:11},
                    UserMail: { email:true,},
                    TextSay: { required: true,maxlength:300 }
                },
                messages:{
                    UserName: {
                        required: "{$Think.lang.index_Formpleasename}",
                     },
                    UserTel: {
                        required: "{$Think.lang.index_Formpleastel}",
                        number:"{$Think.lang.index_Formtelnum}",
                        min: "{$Think.lang.index_Formtelshiyi}",
                        isMobile:"{$Think.lang.index_Formteltrue}",
                     },
                    UserMail: {
                        required: "{$Think.lang.index_Forpleasmemail}",
                    },
                    TextSay: {
                        required: "{$Think.lang.index_Forpleasjianyi}",
                     }
                },
                /*错误提示位置*/
                errorPlacement: function (error, element) {
                    error.appendTo(element.siblings("span"));
                },
                submitHandler:function() {
                  $("#mytel").siblings("span").empty();
                  $("#mymail").siblings("span").empty();
                     if(!$("#mytel").val()&&!$("#mymail").val()){
                        var str="{$Think.lang.index_Fortelemailbi}";
                        $("#mytel").siblings("span").append(str);
                        $("#mymail").siblings("span").append(str);
                        return false;
                     }
                  layer.open({
                    type: 2,content: '{$Think.lang.index_Formtijiaozho}',
                    time: 1 //2秒后自动关闭
                  });




                  $.ajax({
                    type:"POST",
                    url:"__CONTROLLER__/email",
                    dataType: "json",
                    data:$("#contactus").serialize(),
                    success: function(data){

                    if(data.error==12){
                              if(data.url){
                              window.location.href=data.url;return;
                              }
                            }
                    if(data == 1){

                              layer.open({
                                      content: '{$Think.lang.index_Formtijiaotrue}'
                                        ,skin: 'msg'
                                        ,time: 2 //2秒后自动关闭
                                    });
                    }else{
                           layer.open({
                                      content: '{$Think.lang.index_Formtijiaofalse}!'
                                        ,skin: 'msg'
                                        ,time: 2 //2秒后自动关闭
                                    });
                    }
                    }
                  });

                        },
                 debug:true

    });
</script>

<script type="text/javascript">
  var language = "{$Think.lang.language}";
  if(language=='cn_'){
    $("#china").addClass('header-pc-color');
    $("#mobilechina").addClass('header-mobile-color');
  }else if(language=='en_'){
    $("#english").addClass('header-pc-color');
    $("#mobileenglish").addClass('header-mobile-color');
  }
</script>

</body>
</html>