<!DOCTYPE html>
<html>
<head>
  <title>{$Think.lang.title_Industry}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">  
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.__PUBLIC__/qiantai/js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/flexslider.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/animate.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/style.css">
  <!-- new css by wys -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/new.css">

</head>
<body>
  <!-- Header -->
   <include file="Public/header"/>
  <!-- End Header -->

  <!-- Preloader -->
  <div id="mask">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <!-- End Preloader -->
<div class="scrollable" id="scrollable">
<!-- FEIG产品 -->
  <section id="team">
    <div class="container" id="container1">
	
	 
			
 
	 
      <div style="clear:both;" id="getmore"></div>
	 
	  <if condition = "$industrycount gt 4">
			  <div class="section-title" id="jz">
				<h2 id="jiazai">{$Think.lang.vocationlist_jiazai}</h2>
			  </div>
	  </if>
    </div>
  </section>  


  <!--尾部 -->
  <!-- 包含底部模板footer -->
  <include file="Public/footer"/>
</div>
  
<!-- Scripts -->
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/flexslider.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.appear.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/mixitup.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.validation.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.parallax-1.1.3.js"></script>

<!-- Main JS File -->
<script type="text/javascript" src="__PUBLIC__/qiantai/js/main.js"></script>
<!--下拉搜索JS-->
<script src="__PUBLIC__/qiantai/js/aircity.js"></script>
<!--下方滚动js-->
<script src="__PUBLIC__/qiantai/js/scrollfix.js"></script>
<script src="__PUBLIC__/qiantai/layer/mobile/layer.js"></script>
<script>
$("#facebook").click(function(){
  var mycontent='<img src="__PUBLIC__/qiantai/images/erweima.jpg">';
  layer.open({
    style: 'border:none;width:auto;height:auto;padding:0px 0px;',
    content:mycontent
  });
  $(".layui-m-layercont").css({ padding: "0px 0px" });
});
</script>

<script>
   //默认页码为第一页
   var page = 1; 

   function getlist(page){
      $jiazaimei = "{$Think.lang.vocationlist_jiazaimei}";
	  
      $.ajax({
	     type:"GET",
	     url:"__CONTROLLER__/getlist/p/"+page,
		 dataType:"json",
		 success:function(data){
		 console.log(data);
		 
		 
		    var html = "";
			var count = 0;
			 $(data).each(function(k,v){
			      count = v.count;
			      if(page >= count){
				    $('#jz').css('display','none');
				  }
			    
			       html += '<div class="col-md-6 col-sm-6"><a href="{:U('Vocationlistmain/index')}?id='+v.id+'"><div class="team team-vocationlist animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="1500"><div class="team-photo"><img src="__ROOT__'+v.imgiy+'" alt=""></div><div class="team-info"><h4 class="text-center vocation-list-name-color">'+v.nameiy+'</h4></div></div></a></div>'; 
			 });
			
		
			 $('#getmore').before(html);
		     //alert(html);
		 }
	  });
   }
   getlist(1);
   
   $('#jiazai').click(function(){  
	 getlist(++page);
   });



</script>

<script type="text/javascript">
  var language = "{$Think.lang.language}";
  if(language=='cn_'){
    $("#china").addClass('header-pc-color');
    $("#mobilechina").addClass('header-mobile-color');
  }else if(language=='en_'){
    $("#english").addClass('header-pc-color');
    $("#mobileenglish").addClass('header-mobile-color');
  }
</script>
</body>
</html>