<!DOCTYPE html>
<html>
<head>
  <title>{$Think.lang.title_Product}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.__PUBLIC__/qiantai/js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/flexslider.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/animate.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/style.css?id=2">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/style.css?id=2">
  <!-- new css by wys -->
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/css/new.css">
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/qiantai/Swiper-3.4.2/dist/css/swiper.css">
  <!-- Swiper styles -->
    <style>

    @media (max-width:768px) {
      .swiper-container {
        height:200px;
      }

	   <volist name="productlistimgss" id="vo">
	               <if condition="$vo['fwshowpc'] eq 1">
					   .swiper-slide-{$i}{
                            background-image:url(__ROOT__{$vo['flashviewphone']});
                        }
				   <else />
				   </if>
       </volist>



    }
    @media (min-width:768px) {
      .swiper-container {
        height:600px;
      }
	   <volist name="productlistimgss" id="vo">
	               <if condition="$vo['fwshowpc'] eq 1">
					   .swiper-slide-{$i}{
							background-image:url(__ROOT__{$vo['flashviewpc']});
						}
				   <else />
				   </if>
       </volist>


    }
    html, body {
        position: relative;
    }
    body {
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        max-width: 100%;
    }
    .swiper-slide {
        background-position: center;
        background-size:100% 100%;
    }
    </style>
</head>
<body>
 <!-- Header -->
<include file="Public/header"/>

  <!-- End Header -->

  <!-- Preloader -->
  <div id="mask">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>
  <!-- End Preloader -->
<div class="scrollable" id="scrollable">
  <!-- Swiper -->

    <div class="swiper-container">
        <div class="swiper-wrapper">

			   <volist name="productlistimgss" id="vo">
			       <if condition="$vo['fwshowpc'] eq 1">
					  <div class="swiper-slide swiper-slide-{$i}"></div>
				   <else />
				   </if>

             </volist>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>

    </div>
<!-- FEIG产品 -->
<section id="portfolio" class="product-list-section">
    <div class="productlist-section-title">
        <a href="#" class="product-a"><span class="product-header-class rf-cdk-class-one">{$Think.lang.felg_range}</span></a>
        <a href="{:U('Rflinker/Index')}" class="product-a"><span class="product-header-class rf-cdk-class-two">{$Think.lang.felg_rflinker}</span></a>
        <div style="clear: both;"></div>
    </div>

	  <!-- 频率 -->
    <div class="nav-section-title nac-feig-title">
      <p class="product-p-border">{$Think.lang.felg_hztext}</p>
        <ul id="filters" class="nav">
		   <volist name="felghzselect" id="val">
            <li onclick="felghz(1,'{$val['fghz']}',{$val['id']})"  id="filter{$val['id']}"
			class="filter hz
			   <if condition="$indexhzname eq '' and $i eq 1">active yi<elseif condition="$indexhzname eq $val['fghz']"/>active yi</if>
			   " data-filter="{$val['fghz']}">
			   {$val['fghz']}</li>
           </volist>
        </ul>
    </div>

	  <!-- 类型 -->
    <div class="nav-section-title nac-feig-title">
    <p class="product-p-border">{$Think.lang.felg_typetext}</p>
      <ul id="filter_s" class="nav">
	        <volist name="yitype" id="val">
                <li id="filtertype{$val['id']}"   class="filter type typeyiclass" onclick = "hztypeptyi('{$hzyiselect}','{$val['fgtypename']}')" data-filter="{$val['fgtypename']}">{$val['fgtypename']}</li>
          </volist>
      </ul>
    </div>


    <!-- 产品 -->
    <ul id="works-list" class="nav">

         <volist name="felgptyiselect" id="val">

              <a href="{:U('Productdetails/index')}?type=1&&id={$val['id']}">
                <li class="mix graphic mix_all" style="display: inline-block; opacity: 1;">
                   <div class="team team-feig animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0">
                    <div class="team-photo"><img src="__ROOT__{$val['ftimg']}" alt=""></div>
                    <div class="team-info">
                       <h4>{$val['ftname']}</h4>
                       <p>{$val['fttitle']}</p>
                    </div>
                   </div>
                </li>
              </a>

         </volist>




    </ul>


    <if condition="$icount gt 8 ">
        <div id="jzgdyi" onclick="jiazaiyi('{$hzyiselect}')" class="section-title">
             <h2>More</h2>
        </div>
    <else />
    </if>



  </section>
  <include file="Public/footer"/>
</div>
<!-- Scripts -->
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/flexslider.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.appear.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/mixitup.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.validation.js"></script>
<script type="text/javascript" src="__PUBLIC__/qiantai/js/jquery.parallax-1.1.3.js"></script>

<!-- Main JS File -->
<script type="text/javascript" src="__PUBLIC__/qiantai/js/main.js"></script>
<!--下拉搜索JS-->
<script src="__PUBLIC__/qiantai/js/aircity.js"></script>
<!--swiper-->
<script src="__PUBLIC__/qiantai/Swiper-3.4.2/dist/js/swiper.min.js"></script>
<script src="__PUBLIC__/qiantai/layer/mobile/layer.js"></script>
<script>
$("#facebook").click(function(){
  var mycontent='<img src="__PUBLIC__/qiantai/images/erweima.jpg">';
  layer.open({
    style: 'border:none;width:auto;height:auto;padding:0px 0px;',
    content:mycontent
  });
  $(".layui-m-layercont").css({ padding: "0px 0px" });
});
</script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
    });
</script>







<script>

  //默认页码2
  var pageyi = 1;


  //频率产品的加载更多
  function jiazaiyi(name){


       pageyi++;

       //频率名称
       $hzname = name;

       $p = pageyi;


       $.ajax({
            type:"post",
            url:"__CONTROLLER__/felghzyijiazai",
            dataType:"json",
            data:{p:$p,hzname:$hzname},
            success:function(data){
            console.log(data);
                  var hzname = "";
                  var html = "";
                  var count = 0;
                  $(data).each(function(k,v){

                                       html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                       count = v.count;
                                         if(pageyi >= count){
                                           $('#jzgdyi').css('display','none');
                                         }
                                       var name = "'"+hzname+"'";
                  });
                 //循环完参数后赋值给容器
                 $('#works-list').append(html);

            }


       });

   }



  //频率类型筛选产品一次
  function hztypeptyi(hz,type){
      //频率名称
      $hz = hz;



      //类型名称
      $type = type;

      $.ajax({
          url:"__CONTROLLER__/hztypeptyi",
          type:'post',
          dataType:'json',
          data:{felghztype:$type,felghzname:$hz},
          async:true,
          success:function(data){
                                  console.log(data);
                                   $(".yi").addClass("active");
                                  //把产品div元素删除
                                  $('#works-list').empty();

                                  //加载当前类型,清空上一个加载更多
                                  $("#jzgd").empty();
                                  $("#jzgdtype").empty();
                                  $("#jzgdyi").empty();

                                   //追加当前频率的所有产品
                                   var html = "";
                                   //刷选的产品总数
                                   var count = 0;

                                   //频率名称
                                   var hzname = "";

                                   //类型名称
                                   var type = "";
                                   $(data).each(function(k,v){

                                       html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+''+v.hzname+''+v.typename+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                       count = v.count;

                                       hzname = "'"+v.hzname+"'";
                                       typename = "'"+v.typename+"'";

                                   });



                                    if(count > 8){
                                          $("#works-list").after('<div id="hztypeyipt" onclick="jiazaihptztypeyi('+hzname+','+typename+')" class="section-title"><h2>To Load More</h2></div>');
                                     }
                                   $('#works-list').append(html);



                                   //类型点击1.加上样式
                                  $(".typeyiclass").click(function(){
                                             $(".typeyiclass").removeClass("active");
                                             $(this).addClass("active");
                                  })







          }
      });//ajax结束



  }


  //第一次加载频率类型产品刷选,加载更多
     //默认页码2
  var pageyihztypept = 1;


  //频率产品的加载更多
  function jiazaihptztypeyi(hzname,typename){

       pageyihztypept++;

       //频率名称
       $hzname = hzname;


      //加载当前类型,清空频率的加载更多
      $("#jzgd").empty();
      //加载当频率的类型产品,清空上一个加载更多
      $("#hztypeyipt").empty();



       //类型名称
       $typename = typename;

       $p = pageyihztypept;


       $.ajax({
            type:"post",
            url:"__CONTROLLER__/jiazaihptztypes",
            dataType:"json",
            data:{p:$p,hzname:$hzname,typename:$typename},
            success:function(data){
                    console.log(data);
                    var hzname = "";
                    var html = "";
                    var count = 0;
                    $(data).each(function(k,v){

                                         html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                         count = v.count;
                                           if(pagetype >= count){
                                             $('#hztypeyipt').css('display','none');
                                           }
                                         var name = "'"+hzname+"'";
                    });
                   //循环完参数后赋值给容器
                   $('#works-list').append(html);



            }


       });

   }

  function felghz(type,name,id){

    //type类型 1为felg  2为rflinker
     $type = type;

   //name  hz名称
   $name = name;
     //刷选对应的类型
     $.ajax({
      url:"__CONTROLLER__/felghztypepick",
      type:'post',
      dataType:'json',
      data:{felghztype:$type,felghzname:$name},
      async:true,
      success:function(data){
                   console.log(data);

                   //把类型div元素删除
                   $('#filter_s').empty();


                   //判断类型是否为空
                   if(data == null || data == ''){
                      $('#filter_s').html('<li>暂无类型</li>');
                   }


                   //追加当前频率的类型
                   var html = "";

                       $(data).each(function(k,v){

                           html += '<li onclick="typeptall(1,\''+v.fgtypename+'\',\''+v.hzname+'\')" class="typeclass" data-filter='+v.fgtypename+'>'+v.fgtypename+'</li>';


                       });

                        $('#filter_s').append(html);


                         //类型点击1.加上样式
                         $(".typeclass").click(function(){
                                   $(".typeclass").removeClass("active");
                                   $(this).addClass("active");
                         })

             }
     });



                //根据频率,查找对应的所有产品
                 $.ajax({
                          url:"__CONTROLLER__/felghzall",
                          type:'post',
                          dataType:'json',
                          data:{felghztype:$type,felghzname:$name},
                          async:true,
                          success:function(data){
                             console.log(data);

                                  //加上选中样式,删除掉兄弟节点的选中样式
                                  $('#filter'+id).addClass('active').siblings().removeClass('active');

                                  //把产品div元素删除
                                  $('#works-list').empty();


                                  //加载当前类型,清空上一个加载更多
                                  $("#jzgd").empty();
                                  $("#jzgdtype").empty();
                                  $("#jzgdyi").empty();

                                  //判断产品是否为空
                                   if(data == null || data == ''){
                                      $('#works-list').html('<a><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"></div><div class="team-info"><h4></h4><p>暂无产品</p></div></div></li></a>');
                                   }

                                   //追加当前频率的所有产品
                                   var html = "";
                                   //刷选的产品总数
                                   var count = 0;
                                   //当前频率名称
                                   var hzname = "";
                                   $(data).each(function(k,v){

                                       html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                       count = v.count;
                                       var name = "'"+hzname+"'";
                                   });

                                   if(count > 8){

                                          $("#works-list").after('<div id="jzgd" onclick="jiazai(\''+name+'\')" class="section-title"><h2>To Load More</h2></div>');
                                     }

                                   $('#works-list').append(html);


                            }
                         });//ajax结束



	   }//函数结束




  //默认页码2
  var page = 1;


  //频率产品的加载更多
  function jiazai(name){


       page++;

       //频率名称
       $hzname = name;

       $p = page;


       $.ajax({
            type:"post",
            url:"__CONTROLLER__/Hzgetlist",
            dataType:"json",
            data:{p:$p,hzname:$hzname},
            success:function(data){
            console.log(data);
                  var hzname = "";
                  var html = "";
                  var count = 0;
                  $(data).each(function(k,v){

                                       html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                       count = v.count;
                                         if(page >= count){
                                           $('#jzgd').css('display','none');
                                         }
                                       var name = "'"+hzname+"'";
                  });
                 //循环完参数后赋值给容器
                 $('#works-list').append(html);

            }


       });

   }
















   function typeptall(type,typename,hzname){
            //type类型 1为felg  2为rflinker
            $type = type;

            //类型名称
            $name = typename;


            //频率名称
            $hzname = hzname;



            //alert("类型,我是类型");
             //根据频率,查找对应的所有产品
                 $.ajax({
                          url:"__CONTROLLER__/typeptall",
                          type:'post',
                          dataType:'json',
                          data:{felghztype:$type,felgtypename:$name,felghzname:$hzname},
                          async:true,
                          success:function(data){
                             console.log(data);
                                      //把产品div元素删除
                                  $('#works-list').empty();


                                  //加载当前类型,清空频率的加载更多
                                  $("#jzgd").empty();
                                  //加载当频率的类型产品,清空上一个加载更多
                                  $("#jzgdtype").empty();
                                  $("#jzgdyi").empty();

                                  //刷选的产品总数
                                   var count = 0;

                                  //判断产品是否为空
                                   if(data == null || data == ''){
                                      $('#works-list').html('<a><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"></div><div class="team-info"><h4></h4><p>暂无产品</p></div></div></li></a>');
                                   }

                                   //追加当前频率的所有产品
                                   var html = "";



                                   //刷选的产品总数
                                   var count = 0;
                                   $(data).each(function(k,v){

                                       html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                       count = v.count;
                                       var hzname = "'"+hzname+"'";
                                       var typename = "'"+typename+"'";
                                   });


                                    if(count > 8){

                                          $("#works-list").after('<div id="jzgdtype" onclick="jiazaitype(\''+hzname+'\',\''+typename+'\')" class="section-title"><h2>To Load More</h2></div>');
                                     }

                                   $('#works-list').append(html);


                            }
                });//ajax结束



   }//函数结束





    //默认页码2
  var pagetype = 1;


  //频率产品的加载更多
  function jiazaitype(hzname,typename){


       pagetype++;

       //频率名称
       $hzname = hzname;


      //加载当前类型,清空频率的加载更多
      $("#jzgd").empty();
      //加载当频率的类型产品,清空上一个加载更多
      $("#jzgdtype").empty();



       //类型名称
       $typename = typename;

       $p = pagetype;


       $.ajax({
            type:"post",
            url:"__CONTROLLER__/HzTypegetlist",
            dataType:"json",
            data:{p:$p,hzname:$hzname,typename:$typename},
            success:function(data){
                    console.log(data);
                    var hzname = "";
                    var html = "";
                    var count = 0;
                    $(data).each(function(k,v){

                                         html += '<a href="{:U('Productdetails/index')}?type=1&&id='+v.id+'"><li class="mix graphic mix_all" style="display: inline-block; opacity: 1;"><div class="team animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="0"><div class="team-photo"><img src="__ROOT__'+v.ftimg+'" alt=""></div><div class="team-info"><h4>'+v.ftname+'</h4><p>'+v.fttitle+'</p></div></div></li></a>';
                                         count = v.count;
                                           if(pagetype >= count){
                                             $('#jzgdtype').css('display','none');
                                           }
                                         var name = "'"+hzname+"'";
                    });
                   //循环完参数后赋值给容器
                   $('#works-list').append(html);

            }


       });

   }


</script>



<!--下方滚动js-->
<script src="__PUBLIC__/qiantai/js/scrollfix.js"></script>


<script type="text/javascript">
  var language = "{$Think.lang.language}";
  if(language=='cn_'){
    $("#china").addClass('header-pc-color');
    $("#mobilechina").addClass('header-mobile-color');
  }else if(language=='en_'){
    $("#english").addClass('header-pc-color');
    $("#mobileenglish").addClass('header-mobile-color');
  }
</script>


</body>
</html>


















