<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$current['title']}-{$Think.CONFIG.title}</title>

		<meta name="keywords" content="{$Think.CONFIG.keywords}" />
		<meta name="description" content="{$Think.CONFIG.description}" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<include file="Public/head" />
   </head>

	<body class="no-skin">
		<include file="Public/header" />
		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<include file="Public/sidebar" />
			<div class="main-content">
				<div class="main-content-inner">
					<!-- #section:basics/content.breadcrumbs -->
					<include file="Public/breadcrumbs" />

					<!-- /section:basics/content.breadcrumbs -->
					<div class="page-content">
						<include file="Public/set" />

						<!-- /section:settings.box -->
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
									<form class="form-horizontal" id="form" method="post" action="{:U('update')}?id={$link.id}">
										<div class="space-4"></div>
								
									
									    
												
									<div class="space-4"></div>
									<div class="form-group" id="felgcnhzdiv">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> FELG中文频率 </label>
										<div class="col-sm-9">
										<select name="felgcnhz" onclick="cnhz()" id="felgcnhz" class="col-xs-10 col-sm-5">
										        <option value ="0">请选择</option>
										        <volist name="listhz" id="val">
												  <option <if condition="$cnhzname == $val['cn_fghz']">selected="selected"</if> value ="{$val['id']}"> {$val['cn_fghz']}</option>
												</volist>
										</select>								
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
									
									<div class="space-4"></div>
									<div class="form-group" id="felgcntypediv">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> FELG中文类型 </label>
										<div class="col-sm-9">
										<select name="felgcntype" id="felgcntype" class="col-xs-10 col-sm-5">
										        <option value ="0">请选择</option>
										        <volist name="listtype" id="val">
												    <option <if condition="$cntypename == $val['cn_fgtypename']">selected="selected"</if> value ="{$val['id']}"> {$val['cn_fgtypename']}</option>
												</volist>
										</select>								
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
									

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 中文产品编号 </label>
										<div class="col-sm-9">
											<input type="text" name="cn_ftname" id="url" placeholder="中文产品名称" class="col-xs-10 col-sm-5" value="{$link['cn_ftname']}">
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 中文产品简介 </label>
										<div class="col-sm-9">
											<textarea style="width:400px; height:100px;" name="cn_fttitle" rows="3" cols="8">{$link['cn_fttitle']}</textarea>
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
			
								
								    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 中文产品规格 </label>
										<div class="col-sm-9">
											<textarea name="cn_ftspec" id="cn_ftspec" style="width:100%;height:400px;visibility:hidden;">{$link['cn_ftspec']}</textarea>
										</div>
									</div>
									
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 中文产品图片 </label>
										<div class="col-sm-9">
											<div class="col-xs-10 col-sm-5">{:UpImage("cn_ftimg",88,31,$link['cn_ftimg'])}</div>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
										</div>
									</div>
									
									
									
									
									<div class="space-4"></div>
									<div class="form-group" style="display:none;">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 中文产品是否推荐 </label>
										<div class="col-sm-9">
											<input type="radio" name="cn_choose" id=""  <if condition="$link['cn_choose'] eq 1">checked="checked" <else /></if> value="1">推荐&nbsp;&nbsp;&nbsp;
											<input type="radio" name="cn_choose" id=""  <if condition="$link['cn_choose'] eq 1">checked="checked" <else /></if> value="2">不推荐
										</div>
									</div>
									
									
						
									
									
									
									<div class="space-4"></div>
									<div class="form-group" style="display:none;">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 中文推荐排序 </label>
										<div class="col-sm-9">
											<input type="number" name="cn_choosesort" id="o" placeholder="排序" class="col-xs-10 col-sm-5" value="{$link['cn_choose']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">越小越靠前。</span>
											</span>
										</div>
									</div>
									
									
									<br/><br/>
									<hr/>
									<br/><br/>
									
								
												
									<div class="space-4"></div>
									<div class="form-group" id="enfelgcnhzdiv">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> FELG英文频率 </label>
										<div class="col-sm-9">
										<select name="enfelgcnhz" id="enfelgcnhz" class="col-xs-10 col-sm-5" onclick="enhz()">
										        <option value ="0">请选择</option>
										        <volist name="listhz" id="val">
												  <option <if condition="$enhzname == $val['en_fghz']">selected="selected"</if> value ="{$val['id']}"> {$val['en_fghz']}</option>
												</volist>
										</select>								
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
									
									<div class="space-4"></div>
									<div class="form-group" id="enfelgcntypediv">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> FELG英文类型 </label>
										<div class="col-sm-9">
										<select name="enfelgcntype" id="enfelgcntype" class="col-xs-10 col-sm-5">
										        <option value ="0">请选择</option>
										        <volist name="listtype" id="val">
												    <option  <if condition="$entypename == $val['en_fgtypename']">selected="selected"</if>  value ="{$val['id']}"> {$val['en_fgtypename']}</option>
												</volist>
										</select>								
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
									

									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2" id=""> 英文产品编号 </label>
										<div class="col-sm-9">
											<input type="text" name="en_ftname" id="url" placeholder="中文产品名称" class="col-xs-10 col-sm-5" value="{$link['en_ftname']}">
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
									
									
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 英文产品简介 </label>
										<div class="col-sm-9">
											<textarea style="width:400px; height:100px;" name="en_fttitle" rows="3" cols="8">{$link['en_fttitle']}</textarea>
											<span class="help-inline col-xs-12 col-sm-7">
												
											</span>
										</div>
									</div>
									
									
								
									
									
									
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 英文产品规格 </label>
										<div class="col-sm-9">
											<textarea name="en_ftspec" id="en_ftspec" style="width:100%;height:400px;visibility:hidden;">{$link['en_ftspec']}</textarea>
										</div>
									</div>
									
									
									
									
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-4"> 英文产品图片 </label>
										<div class="col-sm-9">
											<div class="col-xs-10 col-sm-5">{:UpImage("en_ftimg",88,31,$link['en_ftimg'])}</div>
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span>
										</div>
									</div>
									
									
									
									
									<div class="space-4"></div>
									<div class="form-group" style="display:none;">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 英文产品是否推荐 </label>
										<div class="col-sm-9">
											<input type="radio" name="en_choose" id="" <if condition="$link['en_choose'] eq 1">checked="checked" <else /></if> value="1">推荐&nbsp;&nbsp;&nbsp;
											<input type="radio" name="en_choose" id="" <if condition="$link['en_choose'] eq 2">checked="checked" <else /></if> value="2">不推荐
										</div>
									</div>
									
									
							        <div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 产品是否推荐搜索 </label>
										<div class="col-sm-9">
											<input type="radio" name="search" id="" <if condition="$link['search'] eq 1">checked="checked" <else /></if>  value="1">推荐&nbsp;&nbsp;&nbsp;
											<input type="radio" name="search" id="" <if condition="$link['search'] eq 2">checked="checked" <else /></if> value="2">不推荐
										</div>
									</div>
									
									
									
									<div class="space-4"></div>
									<div class="form-group" style="display:none;">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 英文推荐排序 </label>
										<div class="col-sm-9">
											<input type="number" name="en_choosesort" id="o" placeholder="排序" class="col-xs-10 col-sm-5" value="{$link['en_choosesort']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">越小越靠前。</span>
											</span>
										</div>
									</div>
									
										
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 排序 </label>
										<div class="col-sm-9">
											<input type="number" name="ftsort" id="o" placeholder="排序" class="col-xs-10 col-sm-5" value="{$link['ftsort']}">
											<span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">越小越靠前。</span>
											</span>
										</div>
									</div>

									<div class="col-md-offset-2 col-md-9">
										<button class="btn btn-info submit" type="button">
											<i class="icon-ok bigger-110"></i>
											提交
										</button>

										&nbsp; &nbsp; &nbsp;
										<button class="btn" type="reset">
											<i class="icon-undo bigger-110"></i>
											重置
										</button>
									</div>
								</form>
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div>
			</div><!-- /.main-content -->
			<include file="Public/footer" />
			
		</div><!-- /.main-container -->
<script src="__PUBLIC__/ckeditorbiaozhun/ckeditor.js"></script>
		<include file="Public/footerjs" />
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
		
		
		
		
		function cnhz(){
		   
			//中文hzid
		    var felgcnhz = $("#felgcnhz").val();
			
		    $.ajax({
					type:"post",
					url:"__CONTROLLER__/cnhzaddinfo",
					dataType:"json",
					data:{felgcnhz:felgcnhz},
					success:function(data){
					   console.log(data);
					   
					   
					    $('#felgcntype').empty();
					    var htmlf = '';			  
						$(data.cntype).each(function(k,v){
							htmlf += '<option  value="'+v.id+'" id="cntype'+v.id+'">'+v.cn_fgtypename+'</option>';
						});

						$('#felgcntype').append(htmlf);
					  
                    }
					
			    });
		}
		
		function enhz(){
		   
			//英文hzid
		    var enfelgcnhz = $("#enfelgcnhz").val();
			
		    $.ajax({
					type:"post",
					url:"__CONTROLLER__/enhzaddinfo",
					dataType:"json",
					data:{enfelgcnhz:enfelgcnhz},
					success:function(data){
					   console.log(data);
					   					   
					    $('#enfelgcntype').empty();
					    var htmlf = '';			  
						$(data.entype).each(function(k,v){
							htmlf += '<option  value="'+v.id+'" id="entype'+v.id+'">'+v.en_fgtypename+'</option>';
						});

						$('#enfelgcntype').append(htmlf);
					  
                    }
					
			    });
		}
		
		
		
		
		$(function() {
			var editor = KindEditor.create('textarea[name="en_ftspec"]',{
				uploadJson : '__PUBLIC__/kindeditor/php/upload_json.php',
				fileManagerJson : '__PUBLIC__/kindeditor/php/file_manager_json.php',
				allowFileManager : true,
				afterBlur:function(){this.sync();}  
				});
			var editor = KindEditor.create('textarea[name="cn_ftspec"]',{
				uploadJson : '__PUBLIC__/kindeditor/php/upload_json.php',
				fileManagerJson : '__PUBLIC__/kindeditor/php/file_manager_json.php',
				allowFileManager : true,
				afterBlur:function(){this.sync();}  
				});
			
		});
		</script>
		
		
		
		
		<script type="text/javascript">
		$(function() {
			$(".btn-info.submit").click(function(){
				var webname = $("#webname").val();
				var url = $("#url").val();
				
				$("#form").submit();
			});
		});
		
		</script>
		
		
		
	</body>
</html>
